<div class="content-grid mdl-grid">

  <div class="content-column mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--top">
    <!-- add content here -->
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>David Gilmour - Pink Floyd</mat-card-title>
        <mat-card-subtitle>At Pompëi</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.cinemadutrefle.com/evenement/affiche-chloe-david-glimour.jpg" alt="Photo of David Gilmour">
      <mat-card-content>
        <p>
          David Gilmour a donné des concerts aux quatre coins du monde. En solo, avec Pink Floyd, entre amis… Mais s’il
          devait n’en
          rester qu’un, le guitariste du Floyd choisirait sans aucun doute un évènement exceptionnel, survenu un peu
          par hasard
          en 1971 dans l’un des cadres les plus exceptionnels du monde : l’amphithéâtre de Pompéi. Quarante-cinq ans
          après avoir
          commis l’un des plus grands faits d’armes de l’histoire du rock, Gilmour est revenu sur ses traces en livrant
          un
          concert d’anthologie – cette fois-ci en public.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>



  <div class="content-column mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell">
    <!-- also here -->
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Roger Water - Pink Floyd</mat-card-title>
        <mat-card-subtitle>Us and Them Tour</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://img.over-blog-kiwi.com/0/95/30/84/20171011/ob_c7e69f_dl2nouiwkaay9k-jpg-large.jpeg"
        alt="Photo of David Gilmour">
      <mat-card-content>
        <p>
          La longue, très longue standing ovation qui a fait trembler le Palau Sant Jordi sur ses fondations, à la fin
          de
          "Eclipse", et juste avant un rappel fantastique, vaut à elle seule tous les commentaires ou comptes rendus du
          monde...
          Le père Waters en etait sincèrement ému aux larmes (j'ai vérifié sur plusieurs vidéos d'autres dates, et
          j'atteste que
          c'est la seule fois où j'ai vu ses larmes à ce moment), c'était un moment de pure communion, la magie que
          seule la
          musique peut créer.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="content-column mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-cell--bottom mdl-cell">
    <!-- and probably also here -->
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>Nick Mason - Pink Floyd</mat-card-title>
        <mat-card-subtitle>Saucerful of secrets</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://i.servimg.com/u/f62/17/76/57/49/affich10.jpg" alt="Photo of Nick Mason">
      <mat-card-content>
        <p>
          Vingt-cinq ans. Il aura fallu vingt-cinq ans à Nick Mason pour penser l’après-Pink Floyd et former son propre
          groupe,
          Mason’s Saucerful of Secrets. Il réunit l’ex-Spandau Ballet Gary Kemp, le bassiste de session des Floyd Guy
          Pratt, le
          guitariste Lee Harris et le claviériste Dom Beken. Dès le début, Mason savait qu’il devait se démarquer des
          machines de
          guerre que sont les tournées de Gilmour et Waters. « Je savais que je ne pouvais pas jouer « Comfortably Numb
          » aussi
          bien que David, Roger ou l’Australian Pink Floyd Show, » confie-t-il. « Il nous fallait trouver un autre
          créneau. » Ce
          sont donc vers les enregistrements pré-Dark Side of the Moon que s’est tourné Mason, à commencer par “Set the
          Controls
          for the Heart of the Sun” et “Astronomy Domine”.
        </p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>




</div>