<div class="content-column mdl-cell mdl-cell--12-col ">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Members of Pink Floyd Band</mat-card-title>
      <mat-card-subtitle>D. Gilmour R. Water N. Mason R. Wright</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.livemint.com/rf/Image-621x414/LiveMint/Period1/2014/11/13/Photos/pinkfloydband.jpg"
      alt="Photo of Pink Floyd">
    <mat-card-content>
      <p>
        Né en 1965, the Pink Floyd a profondément marqué les années 70 et 80.
        Des débuts singuliers avec Syd Barret, David Gilmour et Roger Waters à le groupe s'est toujours diStingué par
        une
        inventivité sans pareil. Une formation incontournable de la musique dite psychédélique à la faveur d'œuvres
        comme "The
        dark side of the moon" ou encore "The wall".
        <br>
        Le nom de Pink Floyd est en fait formé du nom de deux de leurs idoles : les bluesmen américains Pink Anderson
        et Floyd
        Council.
        Roger Barett dit Syd Barett est le fondateur du groupe. Guitariste et étudiant aux Beaux-Arts, il donne à la
        formation
        une identité aussi mystérieuse que poétique. Il faut dire qu'il est un compositeur hors pAIR. A ses côtés, on
        retrouve
        le bassiste Roger Waters, l'organiste Rick Wright et le batteur Nick Mason. Détail amusant : Waters et Mason
        sont
        architectes de formation.
        <br>
        Le premier album du Floyd sort en 1967. "Piper At The Gates Of Dawn" a été enregistré à Abbey Road, le
        légendAIRe fief
        de The Beatles.
        De plus en plus sujet à des troubles mentaux, mais également toxicomane, le génial Syd Barret quitte le groupe
        pendant
        l'enregistrement du deuxième album "Saucerful Of Secret".
        Une perte inestimable pour certains puristes, qui considèrent que la suite de la carrière du Floyd n'atteindra
        jamais
        l'excellence de l'ère "Syd Barret". Quoi qu'il en soit, c'est un ami de Syd qui prend la relève. Un talentueux
        guitariste nommé David Gilmour .
        <br>
        Même s'il on ne retrouve peut être pas la singularité des compositions de Syd Barrett, les albums suivants (que
        ce soit
        la bande originale du film de Barbet Schroeder, "More" ou encore "Meddle") sont des oeuvres tout à fait
        remarquables.
        De même, le groupe s'investit énormément sur scène. Le Floyd est l'instigateur de shows grandioses, et même une
        fois
        sans public comme ce fut le cas dans le cadre enchanteur de Pompéi.
        <br>
        C'est en 73 que le Floyd va sortir l'un des plus grands classiques du groupe, "Dark Side of the Moon". Grâce
        l'ingénieur du son Alan Parson (qui se fit ensuite connaître comme musicien avec le "Alan Parson Project"), le
        disque
        atteint des degrés de sophistication sonore jamais atteints jusqu'alors, avec l'utilisation de magnétophones 24
        pistes.
        C'est aussi l'album d'un succès quasi-planétAIRe, qui restera pas moins de 15 ans au hit-parade américain !
        <br>

        Hommage au mentor
        <br>
        Deux ans plus tard, le Floyd se penche sur son passé et enregistre un album en hommage à leur ancien compagnon
        Syd
        Barret. L'émotion transparaît fortement dans " Wish you were here ", ce qui rend cet album particulièrement
        attachant.

        En 1977, le groupe propose "Animals", dont le titre de chaque morceau correspond au nom d'un animal, et dont le
        thème
        est le malvivre des temps modernes. Un album engagé dans lequel Waters affirme son talent de compositeur, et
        Gilmour
        celui de guitariste.
        <br>
        En 1979 sort un double album intitulé "The Wall", l'une des plus grandes réussites commerciales du groupe. Un
        album
        ambitieux, au contenu politique affirmé, qui divise pas mal les fans. Boursouflé pour les uns, chef d'oeuvre
        pour les
        autres. Alan Parker en fait un film, dont le rôle principal est joué par Bob Geldof.
        <br>
        C'est aussi à cette époque qu'émergent clairement les problèmes relationnels entre les deux têtes pensantes du
        groupe,
        Roger Waters et David Gilmour. "The Wall" sera d'ailleurs le de rnier album à avoir été composé à part égale
        par les
        deux musiciens.
        Ces conflits seront à l'origine du départ de Rick Right, réalisant en fait un souhait de Roger Waters.
        <br>
        Il faut attendre 1983 pour un nouvel album. "Final Cut" a été entièrement composé par Roger Waters, reléguant
        David
        Gilmour et Mason au rang de simples exécutants. Cet opus est dédié à son père, décédé pendant la seconde guerre
        mondiale. On y pressent déjà la future carrière sol o de Roger Waters. D'ailleurs, ce dernier quitte le groupe
        cette
        même année. Un départ sous for me de tentati ve de putsch puisque Roger Waters réclame l'intégralité des
        droits. Après
        un gros bras de fer juridique, David Gilmour et Mason auront finalement gain de cause, et conserveront le nom
        de " Pink
        Floyd".
        <br>
        En 1987, The Pink Floyd revient dans les bacs avec "Momen Ary Lapse of Reason".
        Malgré son succès commercial, la magie ne semble plus au rendez-vous.
        L'occasion également pour Rick Right de rejouer du clavier avec ses anciens complices. S'en suit l'album live
        "Pulse",
        qui regroupe les plus grands succès de The Pink Floyd. Après quelques années de retrait, le groupe sort
        "Division Bell"
        en 1994. Dernier enregistrement en date, le double album "The Wall Live".
        A noter que le Live 8 de 2005, la série de concerts humanitAIRes montés par Bob Geldof a été l'occasion de
        retrouver
        récemment le groupe sur scène.
        <br><br><br><br>



        2006-2014: des reformations ponctuelles et la perte de Syd Barret et Richard Wright
        <br><br><br><br>


        Pink Floyd s’est également reformé ponctuellement à quelques occasions. Une première fois, sans Roger Waters,
        le 31 mai
        2006, lors du dernier concert de David Gilmour au Royal Albert Hall, à Londres. Nick Mason le rejoint pour deux
        morceaux, reconstituant ainsi brièvement le groupe de la période Gilmour.

        <br><br><br><br>



        Le 7 juillet 2006, Syd Barrett meurt d’un cancer du pancréas.

        <br><br><br><br>


        Le 10 mai 2007, Roger Waters participe à un concert hommage à Syd Barrett. Plus tard dans la soirée, Rick
        Wright, David
        Gilmour et Nick Mason montent sur scène pour interpréter ensemble, et avec les artistes présents, le morceau
        «Arnold
        Layne».

        <br><br><br><br>


        Richard Wright décède le 15 septembre 2008 après un court combat contre le cancer.



        Roger Waters et David Gilmour participent ensemble le 10 juillet 2010 à un concert de charité en faveur de
        Hoping
        Foundation.
        <br><br><br><br>



        Le 12 mai 2011, David Gilmour rejoint Roger Waters sur scène, à Londres, pour jouer ensemble «Comfortably
        Numb». Nick
        Mason joue avec Waters «Outside The Wall», pendant un concert de sa tournée «The Wall Live».

        <br><br><br><br>


        Toujours en 2011, EMI décide de rééditer le catalogue de Pink Floyd. Certains albums sortent dans des versions
        Deluxe
        qui comprennent des inédits. Mais les Pink Floyd s’opposent à la vente à l’unité sur les plateformes de
        téléchargement
        qu’avait envisagé EMI. Ils gagnent leur procès.

        <br><br><br><br>


        Un dernier album commun est publié le 10 novembre 2014. Il est dédié à la mémoire de Richard Wright «dont le
        clavier
        est le cœur du son de Pink Floyd» dit la pochette. «The Endless River» est fait de chutes des sessions
        d’enregistrement
        de 1993 de «The Division Bell». L’album est instrumental, avec une seule chanson «Louder Than Words», dont les
        paroles
        écrites par Polly Samson sont nouvelles.

        <br><br><br><br>


        L’aura du groupe est telle qu’il est certifié disque d’or dans plusieurs pays.
        <br><br><br><br>



        2017-2018: «Their Mortal Remains», une expo et un livre qui créent le buzz

        <br><br><br><br>


        Du 13 mai au 15 octobre 2017, à l’occasion du 50e anniversaire du premier album des Pink Floyd, «The Piper At
        The Gates
        Of Dawn», une grande «exposition expérience» leur est consacrée à Londres, au Victoria et Albert Museum, «Their
        Mortal
        Remains». Plus de 400.000 personnes sont venues au musée détruire le mur.


        <br><br><br><br>

        Le 4 janvier 2018, «Pink Floyd. Their Mortal Remains. Le Livre Officiel», qui est plus que le catalogue de
        l’exposition, est mis en vente.
        <br><br><br><br>



        Le 19 janvier, l’exposition arrive à Rome et devrait tourner pendant 10 ans. Au moment où se tient cette
        prestigieuse
        rétrospective au musée, Nick Mason, batteur des Pink Floyd, et de nombreux autres artistes se battent, avec le
        soutien
        appuyé de Paul McCartney, pour la préservation de scènes musicales en Grande Bretagne.

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>CLIC</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="content-column mdl-cell mdl-cell--12-col ">
  <mat-card class="example-card">
    <mat-card-header>
      <div *ngIf="users">
        <mat-card-title *ngFor="let user of users.data">
          <img mat-card-avatar [src]="user.avatar" alt="">
          {{ user.first_name }} {{ user.last_name }}
        </mat-card-title>



      </div>
    </mat-card-header>

  </mat-card>
</div>